* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* transition: 0.1s color, 0.1s background-color; */
}

body {
    min-height: 100vh;
    width: 100%;
    color: var(--text);
    background-color: var(--bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}


html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--link-color);    
}
a:hover{
    text-decoration: underline;
}

.press, .press100 {
    transition: 0.1s transform;
}

.press:active {
    transform: scale(0.95);
}
.press100:active {
    transform: scale(0.99);
}


/* ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #00000022;
} */

.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}



.gT{
    background: -webkit-linear-gradient(45deg, #b549f8 50% , #246bf7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gTR{
    background: -webkit-linear-gradient(135deg, #b549f8 50% , #246bf7);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 900px) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
}
