#main {
    width: 100%;
    margin-top: var(--header-height);
    /* margin-bottom: 100px; */
    height: auto;
    min-height: calc(100vh - var(--header-height) - 310px);
    overflow: auto;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

#main .img100 {
    width: 95%;
    height: auto;
    display: block;
    margin: auto;
}

#main .img70 {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}


#main .code.error {
    outline: 2px solid var(--err-code-border);
}

/*#main .code.error>pre {
    border: 1px solid var(--err-code-border);
}*/

#main .code {
    width: 100%;
    font-size: 0.8rem;
    margin: 15px auto 20px auto;
    overflow: auto;
    /* max-width: 700px; */
    display: block;
    border-radius: var(--border-radius);
}


#main .console,
#main .output {
    width: 100%;
    /* height: ; */
    /* margin-right: 100px; */
    border: 1px solid var(--console-border);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 20px 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    opacity: 0.8;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 1.4em;
    background-color: var(--console-bg);
}

/* #main .output{
    background-color: #000;
    color: #fff;
} */

#main .console.error,
#main .output.error {
    color: var(--err-text);
    /* border: 1px solid red; */
}

#main .console::before,
#main .output::before {
    color: var(--text);
    content: 'Console:';
    font-size: 0.7em;
    opacity: 0.7;
    font-weight: 600;
    position: absolute;
    margin-top: calc(-20px - 1em);
    margin-left: -8px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

#main .output::before {
    content: 'Output:';
}

/* .console pre{
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    opacity: 0.5;
    font-size: 0.9em;
    font-weight: 600;

} */

.center {
    text-align: center;
}

#main>h1 {
    font-size: clamp(2.3em, 1em + 3vw, 3.2em);
    margin: 20px 0 0 0;
    opacity: var(--heading-opacity);
    line-height: 1.25em;
}

#main>h2 {
    margin: 35px 0 10px 0;
    font-size: 1.7em;
    opacity: var(--heading-opacity);
}

#main>h3 {
    font-size: 1.3em;
    margin: 35px 0 10px 0;
    opacity: var(--heading-opacity);
}

#main>h4 {
    margin: 35px 0 10px 0;
    opacity: var(--heading-opacity);
}

#main ul {
    margin: 0 10px 20px 20px;
}

#main ul li {
    margin: 10px 0;
    opacity: var(--heading-opacity);
    opacity: 1;
}


#main p {
    font-size: clamp(1em, 2vw, 1.1em);
    font-weight: 500;
    opacity: var(--text-opacity);
    background-color: transparent;
    margin: 5px 0 15px 0;
    line-height: 1.65em;
    vertical-align: middle;
}

#main .bold {
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;

}



#main .plink,
#main .plinkR {
    /* background-color: #b549f8; */
    background: -webkit-linear-gradient(45deg, #b549f8 40%, #246bf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
    /* font-size: 2em; */
    transition-duration: 0.2s;
    transition-property: background-color, transform;
    padding: 0 3px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#main .plink:hover,
#main .plinkR:hover {
    color: var(--text);
    background: var(--p-link-hover-bg);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
}

#main .plinkR:hover {
    background: linear-gradient(-90deg, #b549f833 40%, #246bf733);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
}

span.incode {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.9em;
    background-color: var(--incode-bg);
    border: 1px solid var(--incode-border);
    padding: 1px 4px;
    border-radius: 3px;
    margin: 0 2px;
    vertical-align: middle;
    white-space: nowrap;
}









#main p.quote {
    background-color: var(--quote-bg);
    border: 1px solid var(--quote-border);
    /* background-image: linear-gradient(50deg, #b549f811 40%, #246bf711); */
    /* background-color: rgba(255, 255, 0, 0.15); */
    padding: 15px;
    font-style: italic;
    border-radius: var(--border-radius);
    font-size: 0.75em;
    text-align: center;
    margin: 20px 0;
    /* font-weight: 600; */
}

#main p.quote>span:nth-child(1)::before {
    content: "“ ";

}

#main p.quote>span:nth-child(1)::after {
    content: " ”";
}


#main p.note {
    background-color: var(--note-bg);
    border-radius: var(--border-radius);
    padding: 15px;
    margin: 15px auto;
    border-left: 5px solid #8b6bf7;
    font-size: 0.85em;
}



#main .btnDiv {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 50px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: #00000022; */
    align-items: center;
}

#main .gap {
    width: 100%;
    height: 10px;
}

#main .btnDiv button.noTxt {
    padding: 12px 15px;
    /* font-size: 1.05em; */
}

#main .btnDiv button {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 0.85em;
    padding: 13px 25px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s transform, 0.2s border;
    white-space: pre-wrap;
    border: 0.13em solid var(--btn-border);
    border-radius: var(--border-radius);
    background: -webkit-linear-gradient(50deg, #b549f8 30%, #246bf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#main .btnDiv button:active {
    transform: scale(0.97);
    border: 0.13em solid var(--accent);
}

#main .btnDiv button:hover {
    border: 0.13em solid var(--accent);
}

#main [data-image] {
    width: 100%;
    min-height: 50px;
    /* background-color: #246bf7; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;

}

#main [data-image] img {
    height: auto;
    padding: 0px;
    width: min(calc(100%), 450px);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    /* box-shadow: 1px 1px 5px 20px #00000011; */
}


/*For #id clickable links*/
#main .anchor {
    height: var(--header-height);
    margin-top: calc(var(--header-height) * -1);
    visibility: hidden;
}

#main .memeImg {
    width: min(500px, 100%);
    display: block;
    margin: 20px auto;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}


#main .opTypeList a {
    text-decoration: underline;
    cursor: pointer;
    color: var(--text);
    text-underline-offset: 2px;
    -webkit-tap-highlight-color: transparent;
}

#main .opTypeList li::after {
    content: ' #';
    opacity: 0;
    transition: 0.2s opacity;
}

#main .opTypeList li:hover::after {
    opacity: 0.5;
}

#main .opTypeList a:hover {
    text-decoration: underline;
}

#main span.bottomText {
    font-size: 0.85em;
    opacity: 0.7;
    text-align: center;
    display: inline-block;
    padding: 20px 20px;
    width: 100%;
}

#main .highlight {
    color: white;
    background-color: dodgerblue;
    font-family: inherit;
    border-radius: 3px;
    white-space: pre;
}

#main .illustration {
    width: 70%;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    margin: 50px auto;
    display: block;
}

#main .illustration.long {
    max-height: 300px;

}


#main .tableContainer{
    width: 100%;
    overflow: scroll hidden;
}

#main .tableContainer::-webkit-scrollbar-thumb{
    width: clamp(2px 2vw, 3px);
    background-color: var(--border);
}

#main table.table {
    width: min(1000px, 100%);
    margin: 20px auto;
    overflow: none;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    border-spacing: 0.4em;
}

/* #main table.table,
#main table.table th,
#main table.table td {
} */
#main table.table th,
#main table.table td {
    padding: 1em;
    border-radius: var(--border-radius);
}
#main table.table th{
    font-weight: 600;
    background-color: var(--accent-lite);
    color: white;
}

#main table.table td {
    background-color: #99999928;
    transition: 0.1s background-color;
}
#main table.table td:hover{
    background-color: var(--border-color);
    background-color: var(--border);
}


@media only screen and (min-width: 700px) {
    #main {
        padding: 30px 70px;
    }

    #main p {
        margin: 15px 0 20px 0;
        /* font-size: 1.1em; */
    }

    #main .img100 {
        width: max(500px, 50%);
        height: auto;
    }

    #main .img70 {
        width: max(400px, 50%);
        height: auto;
    }

}



@media only screen and (min-width: 900px) {
    #main {
        padding: 30px 100px;
    }

    #main .btnDiv button {
        cursor: pointer;
    }

    #main .plink {
        cursor: pointer;
    }

    #main [data-image] img {
        width: 450px;
        height: auto;
    }
}

@media only screen and (min-width: 1500px) {
    #main {
        padding-inline: 130px;
        padding-block: 50px;
        /* background-color: rebeccapurple; */
    }
}