#main {
    width: 100%;
    margin-top: var(--header-height);
    /* margin-bottom: 100px; */
    height: auto;
    min-height: calc(100vh - var(--header-height) - 200px);
    overflow: auto;
}


#main {
    padding: 15px;
}

* {
    box-sizing: border-box;
}

.img100{
    width: 95%;
    display: block;
    margin: auto;
}




.code {
    width: 100%;
    font-size: 0.8rem;
    margin: 10px auto;
    overflow: auto;
    /* max-width: 700px; */
    display: block;
    border-radius: var(--border-radius);
}
.console{
    width: 100%;
    /* height: ; */
    /* margin-right: 100px; */
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 20px 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    opacity: 0.7;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.4em ;
    background-color: #ededed;
}
.console::before{
    content: 'Console:';
    font-size: 0.7em;
    opacity: 0.7;
    font-weight: 600;
    position: absolute;
    margin-top: calc(-20px - 1em);
    margin-left: -8px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
/* .console pre{
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    opacity: 0.5;
    font-size: 0.9em;
    font-weight: 600;

} */

.center{
    text-align: center;
}

.text {
    font-size: 0.95em;
    font-weight: 500;
    opacity: 0.9;
    margin: 20px 0;
}

.bold {
    font-weight: 600;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;

}



.plink,.plinkR {
    /* background-color: #b549f8; */
    background: -webkit-linear-gradient(45deg, #b549f8 40%, #246bf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    /* font-size: 2em; */
    transition-duration: 0.2s;
    transition-property: background-color,transform;
    padding: 0 3px;
    border-radius: 5px;
}

.plink:hover {
    background: linear-gradient(90deg, #b549f833 40%, #246bf733);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}
.plinkR{
    background: -webkit-linear-gradient(135deg, #b549f8 40%, #246bf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plinkR:hover{
    background: linear-gradient(-90deg, #b549f833 40%, #246bf733);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;    
}

h1 {
    line-height: 1.25em;
}




p.quote {
    background-color: #b549f808;
    background-image: linear-gradient(50deg, #b549f811 40%, #246bf711);
    /* background-color: rgba(255, 255, 0, 0.15); */
    padding: 15px;
    font-style: italic;
    border-radius: var(--border-radius);
    font-size: 0.75em;
    text-align: center;
    margin: 20px 0;
    /* font-weight: 600; */
}

/* p.quote span{
    font-family: 'Sofia', cursive;
} */
p.quote>span:nth-child(1)::before {
    content: "“ ";

}

p.quote>span:nth-child(1)::after {
    content: " ”";
}


.btnDiv {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: #00000022; */
    align-items: center;
}



.btnDiv button.noTxt {
    padding: 12px 15px;
    /* font-size: 1.05em; */
}

.btnDiv button {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 0.8em;
    padding: 12px 25px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s transform;
    white-space: pre-wrap;
    border: 1px solid #00000022;
    border-radius: var(--border-radius);

    background: -webkit-linear-gradient(50deg, #b549f8 40%, #246bf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btnDiv button:active {
    transform: scale(0.97);
}


[data-image]{
    width: 100%;
    min-height: 50px;
    /* background-color: #246bf7; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    
}
[data-image] img{
    padding: 0px;
    width: min(calc(100%), 400px);
    border-radius: var(--border-radius);
    border: 1px solid #ddd;
    /* box-shadow: 1px 1px 5px 20px #00000011; */
}













@media only screen and (min-width: 900px) {
    #main {
        padding: 30px 50px;
    }

    h1 {
        font-size: 2.5em;
    }


    .text {
        margin: 30px 0;
        font-size: 1em;

    }

    .btnDiv button {
        cursor: pointer;
    }
    .plink {
        cursor: pointer;
    }


    /* [data-image]{
        justify-content: flex-start;
    } */
    [data-image] img{
        width: 350px;
    }
}

@media only screen and (min-width: 700px) {
    #main {
        padding: 30px 50px;
    }

    h1 {
        font-size: 2.5em;
    }

    .text {
        margin: 25px 0;
    }

    .img100{
        width: max(500px, 50%);
    }
}