#main {
    width: 100%;
    margin-top: var(--header-height);
    /* margin-bottom: 100px; */
    height: auto;
    min-height: calc(100vh - var(--header-height) - 310px);
    overflow: auto;
}


#main {
    padding: 20px;
}

* {
    box-sizing: border-box;
}

#main .img100 {
    width: 95%;
    height: auto;
    display: block;
    margin: auto;
}
#main .img70{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}



#main .code.error>pre {
    border: 1px solid var(--err-code-border);

}

#main .code {
    width: 100%;
    font-size: 0.8rem;
    margin: 15px auto 20px auto;
    overflow: auto;
    /* max-width: 700px; */
    display: block;
    border-radius: var(--border-radius);
}


#main .console, #main .output {
    width: 100%;
    /* height: ; */
    /* margin-right: 100px; */
    border: 1px solid var(--console-border);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 20px 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    opacity: 0.8;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 1.4em;
    background-color: var(--console-bg);
}
#main .output{
    background-color: #000;
    color: #fff;
}

#main .console.error, #main .output.error {
    color: var(--err-text);
    /* border: 1px solid red; */
}

#main .console::before, #main .output::before {
    color: var(--text);
    content: 'Console:';
    font-size: 0.7em;
    opacity: 0.7;
    font-weight: 600;
    position: absolute;
    margin-top: calc(-20px - 1em);
    margin-left: -8px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
#main .output::before{
    content: 'Output:';
}

/* .console pre{
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    opacity: 0.5;
    font-size: 0.9em;
    font-weight: 600;

} */

.center {
    text-align: center;
}

#main > h1 {
    font-size: 2.2em;
    margin: 20px 0 0 0;
}

#main > h2 {
    margin: 35px 0 10px 0;
    /* font-weight: 600; */
    /* letter-spacing: 1px; */
    font-size: 1.7em;
}

#main > h3 {
    font-size: 1.3em;
    margin: 35px 0 10px 0;
}
#main > h4 {
    /* font-size: 1.3em; */
    margin: 35px 0 10px 0;
}

#main ul {
    /* background-color: #246bf7; */
    margin: 0 10px 20px 20px;
}

#main ul li {
    margin: 10px 0;
    /* opacity: 0.6; */
    /* font-weight: 600; */
    opacity: 1;
}


#main p {
    /* text-align: justify; */
    font-size: 0.96em;
    font-weight: 500;
    opacity: 0.9;
    background-color: transparent;
    margin: 5px 0 15px 0;
    line-height: 1.65em;
    vertical-align: middle;
    /* text-indent: 10px; */
}

#main .bold {
    font-weight: 600;
}
.bold {
    font-weight: 600;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;

}



#main .plink,
#main .plinkR {
    /* background-color: #b549f8; */
    background: -webkit-linear-gradient(45deg, #b549f8 40%, #246bf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
    /* font-size: 2em; */
    transition-duration: 0.2s;
    transition-property: background-color, transform;
    padding: 0 3px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}

#main .plink:hover, #main .plinkR:hover  {
    color: var(--text);
    background: var(--p-link-hover-bg);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
}
#main .plinkR:hover {
    background: linear-gradient(-90deg, #b549f833 40%, #246bf733);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
}

span.incode {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.9em;
    background-color: var(--incode-bg);
    border: 1px solid var(--incode-border);
    padding: 1px 4px;
    border-radius: 3px;
    margin: 0 2px;
    vertical-align: middle;
    white-space: nowrap;
}




#main h1 {
    line-height: 1.25em;
}




#main p.quote {
    background-color: var(--quote-bg);
    border: 1px solid var(--quote-border);
    /* background-image: linear-gradient(50deg, #b549f811 40%, #246bf711); */
    /* background-color: rgba(255, 255, 0, 0.15); */
    padding: 15px;
    font-style: italic;
    border-radius: var(--border-radius);
    font-size: 0.75em;
    text-align: center;
    margin: 20px 0;
    /* font-weight: 600; */
}

/* p.quote span{
    font-family: 'Sofia', cursive;
} */
#main p.quote>span:nth-child(1)::before {
    content: "“ ";

}

#main p.quote>span:nth-child(1)::after {
    content: " ”";
}


#main p.note {
    background-color: var(--note-bg);
    border-radius: var(--border-radius);
    padding: 15px;
    margin: 15px auto;
    border-left: 5px solid #b549f8;
    font-size: 0.85em;
}



#main .btnDiv {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: #00000022; */
    align-items: center;
}



#main .btnDiv button.noTxt {
    padding: 12px 15px;
    /* font-size: 1.05em; */
}

#main .btnDiv button {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 0.85em;
    padding: 13px 25px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s transform, 0.2s border;
    white-space: pre-wrap;
    border: 0.13em solid var(--btn-border);
    border-radius: var(--border-radius);
    background: -webkit-linear-gradient(50deg, #b549f8 30%, #246bf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#main .btnDiv button:active {
    transform: scale(0.97);
    border: 0.13em solid #b549f8;
}
#main .btnDiv button:hover{
    border: 0.13em solid #b549f8;
}

#main [data-image] {
    width: 100%;
    min-height: 50px;
    /* background-color: #246bf7; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;

}

#main [data-image] img {
    height: auto;
    padding: 0px;
    width: min(calc(100%), 450px);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    /* box-shadow: 1px 1px 5px 20px #00000011; */
}


/*For #id clickable links*/
#main .anchor{
    height: var(--header-height);
    margin-top: calc(var(--header-height) * -1);
    visibility: hidden;
}

#main .memeImg{
    width: min(500px, 100%);
    display: block;
    margin: 20px auto;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}


#main .opTypeList a{
    text-decoration: underline;
    cursor: pointer;
    color: var(--text);
    text-underline-offset: 2px;
    -webkit-tap-highlight-color: transparent;
}
#main .opTypeList li::after{
    content: ' #';
    opacity: 0;
    transition: 0.2s opacity;
}
#main .opTypeList li:hover::after{
    opacity: 0.5;
}
#main .opTypeList a:hover{
    text-decoration: underline;
}

#main span.bottomText{
    font-size: 0.85em;
    opacity: 0.7;
    text-align: center;
    display: inline-block;
    padding:40px 20px;
    width: 100%;
}

#main .highlight{
    color: white;
    background-color: dodgerblue;
    font-family: inherit;
    border-radius: 3px;
    white-space: pre;
}

@media only screen and (min-width: 700px) {
    #main {
        padding: 30px 70px;
    }

    #main h1 {
        font-size: 2.5em;
    }

    #main p {
        margin: 15px 0 20px 0;
        font-size: 1.1em;
    }

    #main .img100 {
        width: max(500px, 50%);
        height: auto;
    }
    #main .img70 {
        width: max(400px, 50%);
        height: auto;
    }

}



@media only screen and (min-width: 900px) {
    #main {
        padding: 30px 100px;
    }

    #main .btnDiv button {
        cursor: pointer;
    }

    #main .plink {
        cursor: pointer;
    }


    /* [data-image]{
        justify-content: flex-start;
    } */
    #main [data-image] img {
        width: 450px;
        height: auto;
    }
}