pre[class*="language-"]::-webkit-scrollbar{
	width: 4px;
	height: 4px;
}
pre[class*="language-"]::-webkit-scrollbar-track{
	background-color: transparent;
}
pre[class*="language-"]::-webkit-scrollbar-thumb{
	background-color: var(--code-scrollbar-color);
	border-radius: 100px;
	/* border-radius: 5px; */
}

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	border-radius: inherit;
}
pre[class*="language-"] span{
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	/* margin: .5em 0; */
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #151922;
	/* background: #0a0522; */
	/* background-color: black; */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8292a2;
}

.token.punctuation {
	color: #f8f8f2;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	/* color: #ae81ff; */
	color: #f5b164;

}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
	/* color: #ae81ff; */

}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	/* color: #e6db74; */
	color: #61aeee;
}

.token.keyword {
	/* color: #66d9ef; */
	/* color:#882bfe ; */
	color: #8b6bf7;
	
}
/*882bfe light violet*/

.token.regex,
.token.important {
	color: #fd971f;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}



@media only screen and (min-width: 900px) {
	pre[class*="language-"]::-webkit-scrollbar{
		width: 7px;
		height: 7px;
	}

}