:root {
    --header-height: 60px;
    /* --text: #110439; original*/
    --text: #291c4e;
    --loader: #291c4e;
    --bg: #fff;
    --bg-sideBar: #ffffff;
    --bg-moreOptions-div: #ffffffbb;
    --note-bg: #b549f822;
    --header-bg: #ffffffdd;
    --blur: blur(20px);
    --backdrop-background: ;
    --gradient: 50deg, #b549f8 40%, #246bf7;
    --violet: #b549f8;
    --blue: #246bf7;
    --border-radius: 6px;
    --border: #ddd;
    --console-bg: #ededed;
    --btn-border: #00000022;
    --invert: 0;
    --link-color: #0055ff;
    --quote-bg:#ffe60020;
    --quote-border:#ffe620;
    --err-code-border:#ff0000;
    --console-border:#ccc;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --text: #fdfdfd;
        --loader: #967ae2;
        
        --bg: #000010;
        --bg-sideBar: #000010;
        --bg-moreOptions-div: #000010bb;
        --note-bg: #b549f830;
        --quote-bg:#00000000;
        
        --header-bg: #000015aa;
        --gradient: 50deg, #b549f8 40%, #246bf7;
        --violet: #b549f8;
        --blue: #246bf7;
        --border-radius: 6px;
        --console-bg: #0d0d0d;
        --border: #333;
        --console-border:#444;
        --btn-border: #b549f866;
        --invert: 1;
        --link-color: #35a4ff;
        --err-code-border:#ff000070;
        
    }
}