@import url("./sidebar.css");

.body{
    width: 100%;
    height: auto;
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
}






@media only screen and (min-width: 900px) {
    .body .sideBar{
        /* min-width: 30%; */
        max-width: 300px;
        width: 30%;
        left: 0;
        box-shadow: unset;

    }
    .body .sideBar::-webkit-scrollbar-thumb{
        background-color: #00000022;
    }
    .body .sideBar span{
        cursor: pointer;
    }
    
    .body .sidebarCancel{
        display: none;
    }

    .body #main{
        min-width: 70%;
        max-width: calc(100% - 300px);
    }
}
