footer{
    width: 100%;
    height: auto;
    min-height: 200px;
    border-top: 1px solid var(--border);
    display: block;
    margin-left: auto;
    margin-top: 10px;
    padding: 30px 20px 20px 20px;
    font-size: 0.7em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
    flex-wrap: wrap;
    margin-top: 20px;
}

footer .social img{
    width: 38px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s background-color, 0.2s transform;
}
footer .social img:hover{
    
    background-color: #eee;
}
footer .social img:active{
    transform: scale(1.5);
}




footer .bottomDivLogo{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 0 0 30px 0;
    /* padding: 20px; */
}
footer .bottomDivLogo span{
    font-weight: 800;
    opacity: 0.3;
    font-size: 2em;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media only screen and (min-width: 900px) {
    footer{
        max-width: calc(100% - 300px);
        min-width: 70%;
        padding: 30px 100px;

    }
    footer .social img:hover{

        transform: translateY(-5px);
    
    }
    
}
@media only screen and (min-width: 700px) {
    footer{
        padding: 30px 70px;
    }
}