.body .sideBar {
    width: 80%;
    left: -80%;
    margin-top: calc(var(--header-height));
    height: calc(100vh - var(--header-height));
    /* background-color: rgba(255, 255, 255, 0.356); */
    background-color: var(--bg-sideBar);
    position: fixed;
    transition: var(--anim-duration) left;
    /* box-shadow: 0 30px 20px 20px #00000022; */
    overflow: scroll;
    z-index: 100;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.body .sideBar .searchDiv {
    margin-top: 5px;
    width: 100%;
    padding: 10px 15px;
}

.body .sideBar .searchDiv input[type=search] {
    background-color: var(--bg-sideBar);
    width: 100%;
    border: 0.13em solid var(--border);
    outline: none;
    padding: 10px 13px;
    border-radius: var(--border-radius);
    transition: 0.2s border-color;
    color: var(--text);
    /* font-size: 1em; */
}

.body .sideBar .searchDiv input[type=search]:focus {
    border-color: var(--accent);
}

.body .sideBar .list {
    padding: 10px 8px 10px 5px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body .sideBar .list a {
    margin: 2px 5px 2px 7px;
    padding: 9px 11px;
    border-radius: 5px;
    display: inline-block;
    /* transition: 0.1s color; */
    text-decoration: none;
    color: var(--text);
    outline: none;
    border: none;
    opacity: 0.85;
    font-weight: 500;
    -webkit-tap-highlight-color: #00000000;

    /*For scroll observer*/
    /* opacity: 0;
    scale: 0.9; */
    /* opacity: 1; */
    transition-duration: 400ms;
    transition-property: opacity, scale;
}
/* .body .sideBar .list a.shown{
    opacity: 1;
    scale: 1;
}
 */


.body .sideBar .list a:hover {
    background-color: #99999922;
}

.body .sideBar .heading {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0 0 0;
    /* border-top: 1px solid var(--border); */
}

.body .sideBar .heading .name {
    font-weight: 600;
    margin: 10px 5px 2px 15px;
}


.body .sideBar .list a.activeOption {
    transition: 0.1s color,0.1s background-color;
    color: white;
    /* font-weight: 600; */
    background-color: #8b6bf7;
    
    /* background-image: linear-gradient(150deg, #b549f8 30%, #246bf7); */
}

.body .sidebarCancel {
    position: fixed;
    margin-top: calc(var(--header-height));
    height: calc(100vh - var(--header-height));
    display: none;
    left: 0;
    width: 100vw;
    z-index: 99;
    background-color: #00000000;
    transition: var(--anim-duration) background-color;
}

.body .sideBar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}


/* .body .sideBar::-webkit-scrollbar {
    width: auto;
    height: auto;
} */

@media only screen and (min-width: 900px) {
    .body .sideBar {
        /* min-width: 30%; */
        max-width: 320px;
        width: 30%;
        left: 0;
        box-shadow: unset;
        border-right: 1px solid var(--border);
    }
    .body .sideBar span {
        cursor: pointer;
    }

    .body .sidebarCancel {
        display: none;
    }
    .body .sideBar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
}