.body .sideBar {
    width: 80%;
    left: -80%;
    margin-top: calc(var(--header-height));
    height: calc(100vh - var(--header-height));
    /* background-color: rgba(255, 255, 255, 0.356); */
    background-color: var(--bg);
    position: fixed;
    transition: 0.2s left;
    border-right: 1px solid var(--border);
    /* box-shadow: 0 30px 20px 20px #00000022; */
    overflow: scroll;
    z-index: 100;
}

.body .sideBar .searchDiv {
    margin-top: 5px;
    width: 100%;
    padding: 10px 15px;
}

.body .sideBar .searchDiv input[type=search] {
    background-color: var(--bg);
    width: 100%;
    border: 0.13em solid var(--border);
    outline: none;
    padding: 10px 13px;
    border-radius: var(--border-radius);
    transition: 0.2s border-color;
    color: var(--text);
    /* font-size: 1em; */
}

.body .sideBar .searchDiv input[type=search]:focus {
    border-color: var(--blue);
}

.body .sideBar .list {
    padding-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.body .sideBar .list a {
    margin: 2px 5px 2px 10px;
    padding: 7px 10px;
    border-radius: 5px;
    display: inline-block;
    transition: 0.5s color;
    text-decoration: none;
    color: var(--text);
    -webkit-tap-highlight-color: #00000000;
}


.body .sideBar .list a:hover {
    background-color: #99999922;
}

.body .sideBar .heading {
    width: 100%;
    margin-top: 20px;
}

.body .sideBar .heading .name {
    font-weight: 600;
    margin: 10px 5px 2px 15px;
}


.activeOption {
    background: -webkit-linear-gradient(135deg, #b549f8 60%, #246bf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    
}

.body .sidebarCancel {
    position: fixed;
    margin-top: calc(var(--header-height));
    height: calc(100vh - var(--header-height));
    left: 100%;
    width: 100vw;
    z-index: 99;
    background-color: #00000033;
}