.top {
  width: 100%;
  height: auto;
  display: flex;
}
.top .left .pp {
  height: min(150px, 30vw);
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1333333333);
  margin-bottom: 10px;
}
.social {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  flex-wrap: wrap;
  margin: 0px 0px 50px 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.social img {
  width: 38px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  transition:
    0.2s background-color,
    0.2s transform;
}
.social img:hover {
  background-color: rgba(153, 153, 153, 0.2);
}
.social img:active {
  transform: translateY(-10px);
}
@media only screen and (max-width: 1200px) {
  #main,
  #main {
    padding-top: 10px;
  }
  .top {
    flex-direction: column;
  }
  .top > div {
    width: 100%;
  }
}
