#main .topDiv{
    width: 100%;
    /* height: auto; */
    /* height: 300px; */
    padding: 80px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    margin-bottom: 50px;
    /* box-shadow: 0px 0px 20px 0px #00000011; */
}
#main .topDiv h1{
    font-size: 3.2em;
    line-height: 1.3em;
    font-weight: 900;
    text-align: center;

}


#main .topDiv h2{
    font-weight: 600;
    text-align: center;
    font-size: 1.2em;
    opacity: 0.8;
}

#main .topDiv p{
    text-align: justify;
    font-size: 0.9em;
}

@media only screen and (min-width: 900px) {
    #main .topDiv h1{
        font-size: 5em;

    }
}