#main2 .bg {
  background-image: linear-gradient(
    100deg,
    #77777715 0%,
    #77777715 40%,
    #77777725 50%,
    #77777725 55%,
    #77777715 65%,
    #77777715 100%
  );
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: loadSkeleton 1.3s infinite;
}
@keyframes loadSkeleton {
  to {
    background-position-x: -20%;
  }
}

#main2 .h1 {
  height: 4rem;
  border-radius: 10px;
}

#main2 .h2 {
  height: 2.5rem;
  border-radius: 10px;
}
#main2 .p {
  height: 1rem;
  border-radius: 100vmax;
  margin-block: 0.6rem;
}

#main2 .code {
  width: 100%;
  height: 11rem;
  border-radius: 10px;
  margin-block: 1rem;
}
#main2 .note {
  width: 100%;
  height: 7rem;
  border-radius: 10px;
  margin-block: 1rem;
}

#main2 .w100 {
  width: 100%;
}

#main2 .w70 {
  width: 80%;
}

#main2 .buttons {
  margin-block: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#main2 .buttons .left,
#main2 .buttons .right {
  height: 50px;
  aspect-ratio: 1.3/ 1;
  border-radius: 10px;
}

#main2 .blank {
  width: 100%;
  height: 1rem;
}
#main2 .blanks {
  width: 100%;
  height: 0.65rem;
}
